# 1.11 no changes from 1.10
apiVersion: v1
kind: CredentialFile
# list of credentials
items:
# reference name for this credential entry
- name: vCenter
  username: "{{vcenter.user}}"
  password: "{{vcenter.password}}"
