# copy this to the admin workstation after completion
# 'hostconfig' section was < 1.5, not valid anymore 
# https://cloud.google.com/anthos/clusters/docs/on-prem/1.5/how-to/ip-block-file
blocks:
  - netmask: 255.255.255.0
    gateway: 192.168.141.1
    ips:
    - ip: 192.168.141.222
      hostname: admin-host1
    - ip: 192.168.141.223
      hostname: admin-host2
    - ip: 192.168.141.224
      hostname: admin-host3
    - ip: 192.168.141.225
      hostname: admin-host4
    - ip: 192.168.141.226
      hostname: admin-host5
