apiVersion: v1
kind: Secret
metadata:
  name: ldap-secret
  namespace: anthos-identity-service
type: kubernetes.io/basic-auth
stringData:
  username: $binding_user # MUST be full dn
  password: $binding_pass
