#!/bin/bash
#
# Usage: source ./source-govc-vars.sh
#
# exports variables needed to use govc by looking at terraform variables file
#

############## MAIN ##################

# vCenter host
export GOVC_URL=vcenter.home.lab
# vCenter credentials
export GOVC_USERNAME={{vcenter.user}}
export GOVC_PASSWORD={{vcenter.password}}
# disable cert validation
export GOVC_INSECURE=true

govc ls /
govc datacenter.info
